.index {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #131316;
    color: #f2f2f3;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.second_text {
    display: flex;
}

.no_padding {
    padding: 0 6px 0 6px !important;
}

.error {
    color: #ff0000
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}