.header {
    display: flex;
    flex-flow: row;
    background: #1C1C21;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
    min-height: 88px;
    justify-content: center;
    align-items: center;
}

.content-box {
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.tabs {
    display: flex;
    flex-flow: row;
}

.constructor {
    composes: tabs;
    cursor: pointer;
}

.order-list {
    composes: tabs;
    cursor: pointer;
}

.logo {
    justify-self: center;
}

.login {
    justify-self: right;
    display: flex;
    flex-flow: row;
    cursor: pointer;
}